<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563377576853-u8aavheeibjgaer2i30cfdipcmitj1h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563377576853-u8aavheeibjgaer2i30cfdipcmitj1h5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSLejwEctywfkQKgKPtOLJ4okZYEGO-70</string>
	<key>GCM_SENDER_ID</key>
	<string>563377576853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otito.messengerclone</string>
	<key>PROJECT_ID</key>
	<string>messenger-clone-651e7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-clone-651e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563377576853:ios:9f11a36c989a5ec806f49c</string>
</dict>
</plist>